$text: #b2b6bd;
$background: #1c212b;
$selection-text-and-header-background: #1c212b;
$selection-background-and-link-hover: #a3be8c;
$heading: white;
$border: #424650;

$contessa: #bf6165;
$comet: #4f586b;
$river-bed: #424a5a;

$silver: #ccc;

$link-na: #b2b6bd;
$button-bottom-border-na: #3d3d4c;
$button-bottom-border-a: #33691e;

//-na = -not-active
//-a = active
