/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;
}

#cursor_blinker::after {
  content: "_";
  color: #ffffffff;
  -webkit-animation: 1s linear infinite blinker;
  animation: 1s linear infinite blinker;
}

#shell_type {
  color: white;
}
